/* this is my custom CSS */

footer {

	padding: 2em 4em;
	
	margin-top: 2em;
	border-top: 1px solid #0000FF;
	color: #0000FF;
	
	background-color: #000000;
}

body{
	padding-top: 70px;
}
.glyphicon {
	color: #FFFFFF;
}

/* change breadcrumb background color*/


.breadcrumb{
	/*deep pink FF1493*/
	background-color: #337ab7;
	padding: 0 1px 0 5px;
	margin: 0 0;
	border: 1px solid #FFFFFF;

}
.panel-danger .panel-heading{
	padding: 5px 5px;
	background-color: #336600;
}
.panel-danger .panel-body a{
	color: #336600;
	font-weight: bold;
}


.panel-danger .panel-title { /*panel title inside panel-danger*/
	background-color: #336600;
	
}
.panel-danger .panel-title a{
	color: #FFFFFF;
	font-weight: bold;
}
.panel-danger{
	border: 1px solid #336600;
}

/* breadcrumb link color*/
.breadcrumb a{
	
	color: #FFFFFF;

}

.panel-danger .panel-title a:hover{
	text-decoration: none;
	color:#FFFFFF;
}
.panel-danger .panel-title .nav-pills a:hover{
    background-color: #FF33FF;
}
.panel-danger .panel-title .nav-pills a{
	border: 1px solid #FFFFFF;
	padding: 0px 4px 0px 4px;
	margin-right: 2px;

}

 .panel-danger .nav-stacked li>h6{
	border: 1px solid  #336600;
	border-radius: 4px;
	padding: 5px 5px;
	margin-top: 1px;
	background-color: #337ab7;
	color: #FFFFFF;

}
.panel-danger .nav-stacked li>h6:hover, .panel-danger .nav-stacked li>button:hover{
	background-color: #FF33FF;

}



.ani.nav{
	max-height: 200px;
	overflow-y:auto; 
}

/* enable scroll able table body + fixed header*/

 thead,tbody,th,td,tr{
 	display: block;
 }
 tr:after{
 	content: ' ';
 	display: block;
 	visibility: hidden;
 	clear: both;
 }
 thead th{
 	height: 40px;
 }


 tbody{
	height: 150px;
	overflow-y:auto; 
	
}
tbody td, thead th {
	width: 50%;
	float: left;

}

 tbody td{
	border: 1px solid  #336600;
	border-radius: 4px;
	padding: 0px 0px;
	
	vertical-align: middle;
	height: 30px;

}

tbody td>h6{
	padding: 0px 0px;
	margin: 0px 0px;
}
tbody tr{
	margin-bottom: 2px;
	background-color: #337ab7;
	color: #FFFFFF;
}

tbody tr:hover{
	background-color: #FF33FF;
}

.panel-danger .nav-stacked a{
	border: 1px solid  #336600;
}
.panel-danger .nav-stacked a:hover{
	color:  #FFFFFF;
	background-color: #FF33FF;
}

/*change separator to none*/
.breadcrumb > li + li:before {
	content: "\00BB";
	color: #FFFFFF;
}
.panel-danger .btn{
	/* background-color: #FF1493;
	border-color: #0000FF;*/
	background-color: #000000;
	border-color: #FFFFFF;
}
.panel-danger  a[type="button"]:hover{
	
	background-color: #FF33FF;

}

.btn > .glyphicon{
	color: #FFFFFF;
}

.panel-danger .input-group-addon{
	background-color: #336600;
	color: #FFFFFF;
}

input,select,textarea{
	color: #336600 ;
	font-weight: bold;
	/*#FF1493*/
}

textarea:focus, input:focus{
	color:  #336600 ;

}


h1{
	text-align: center;
	color: #0000FF;
	font-weight: bold;
	font-size:40px;
	
}
.close button{
	color: #FFFFFF;
	background-color:#336600; 
}
